.ca-logo {
    width: 250px; /* Set the image width */
    height: 200px; /* Set the image height */
    display: block; /* Ensure block-level display */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 200px;
  }
  